

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    color: #333;
    background-color: #e6e6fa;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding: 80px;
}

.login-box {
    background:linear-gradient(145deg, #e6e6, #a87ca0);
    padding: 50px;
    padding-bottom: 20%;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.7);
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg);
    transition: transform 0.3s ease;
    width: 320px;
}
.login-box:hover{
    transform: perspective(100px) rotateX(0deg) rotateY(0deg);
}

h2 {
    text-align: center;
    color: #2a0e3c;
}

label {
    display: block;
    margin-top: 12px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2a0e3c;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #5e286d;
}

.error {
    color:linear-gradient(rgb(128, 0, 0) red);
    text-align: center;
    margin-top: 15px;
}

.top-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #bbb;
}
p{
    text-align: center;
    text-decoration: #2a0e3c;
    text-transform: capitalize;
    border-bottom: #333;
    box-shadow: #a87ca0;
    padding: 0%;
}

#clear{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .login-box{
        width: 90%;
        padding: 20px;
    }
    body {
        padding: 10px;
    }
    
}